@charset "UTF-8";

.q6_speech_balloon_box {
  display: flex;
  /* 左右中央寄せ */
  justify-content: center;
  /* 上下一番下 */
  align-items: flex-end;
}

.q6_speech_balloon {
  position: relative;
  width: 550px;
  padding: 20px;
  border: 5px solid #222;
  border-radius: 30px;
  margin-left: 35px;
  /* 改行文字揃え */
  word-break: break-all;
  /* paddingとborderを高さと幅に含める box-sizing: border-box; */
}

/* 擬似要素で共通するスタイルはまとめる */
.q6_speech_balloon::before,
.q6_speech_balloon::after {
  content: "";
  position: absolute;
  bottom: 25px;
  border: 20px solid transparent;
}

.q6_speech_balloon::before {
  left: -38px;
  border-right: 20px solid #FFF;
  z-index: 2;
}

.q6_speech_balloon::after {
  left: -45px;
  border-right: 20px solid #222;
  z-index: 1;
}