@charset "UTF-8";


/* q5が終わったら
q6のcssはq6フォルダの中のcssファイルに記述してください */

.q5_clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.q5_width_400px {
  width: 400px;
}

.q5_float {
  float: left;
}

/* :not(:first-child)で最初の子要素以外を指定 */
.q5_float:not(:first-child) {
  margin-left: 60px;
}

.q5_table {
  display: table;
  width: 100%;
}

.q5_table_cell {
  display: table-cell;
}

.q5_table_cell:not(:first-child) {
  padding-left: 60px;
}

/* 親要素にfont-size: 0;を指定し子要素の隙間を無くす */
.q5_font_size_0 {
  font-size: 0;
}

.q5_inline_block {
  display: inline-block;
}

.q5_inline_block:not(:first-child) {
  margin-left: 60px;
}

.q5_flex {
  display: flex;
  justify-content: space-between;
}

.q5_margin_left_60px:not(:first-child) {
  margin-left: 60px;
}

/* calcでwidth100％を三等分し、幅を50px */
.q5_calc {
  width: calc((100% - 50px) / 3);
}